
:root, [data-bs-theme=light] {
  --bs-success: #f19c79;
  --bs-success-rgb: 241,156,121;
  --bs-success-text-emphasis: #603E30;
  --bs-success-bg-subtle: #FCEBE4;
  --bs-success-border-subtle: #F9D7C9;
}

.btn-success {
  --bs-btn-color: #000000;
  --bs-btn-bg: #f19c79;
  --bs-btn-border-color: #f19c79;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #F3AB8D;
  --bs-btn-hover-border-color: #F2A686;
  --bs-btn-focus-shadow-rgb: 36,23,18;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #F4B094;
  --bs-btn-active-border-color: #F2A686;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #f19c79;
  --bs-btn-disabled-border-color: #f19c79;
}

.btn-outline-success {
  --bs-btn-color: #f19c79;
  --bs-btn-border-color: #f19c79;
  --bs-btn-focus-shadow-rgb: 241,156,121;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #f19c79;
  --bs-btn-hover-border-color: #f19c79;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #f19c79;
  --bs-btn-active-border-color: #f19c79;
  --bs-btn-disabled-color: #f19c79;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f19c79;
}

