{% extends "layouts/base.html" %}
{% block title %}Edit Student{% endblock title %}

{% block stylesheets %}
<style>
    body, label {
        color: navy;
    }
</style>
{% endblock stylesheets %}

{% block content %}
<div class="container mt-5">
    <h1>Edit Student</h1>
    <form action="{{ url_for('update_student', studentID=student.Student_ID, courseOfferingID=courseOfferingID, courseName=courseName) }}" method="POST">
        <div class="mb-3">
            <label for="studentID" class="form-label">Student ID</label>
            <input type="text" class="form-control" id="studentID" name="student_id" value="{{ student.Student_ID }}" readonly>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Student Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ student.Student_Name }}" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ student.Email }}" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" value="{{ student.Password }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Update Student</button>
    </form>
</div>
{% endblock content %}